<?xml version="1.0" encoding="utf-8"?>

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- Assume employment is the database name -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/addressbook</property>
        <property name="hibernate.connection.username">
            //DB_USERNAME
        </property>
        <property name="hibernate.connection.password">
            //DB_PASSWORD
        </property>

        <!-- List of XML mapping files -->
        <mapping resource="Person.hbm.xml"/>

    </session-factory>
</hibernate-configuration>